body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ant-tabs-nav-scroll {
  margin: 0 40%;
}

.tabs-content, .tab-essential {
  height: 100%;
  width: 100%;
}

.map-chart {
  height: 100%;
  display: inline-block;
  width: 100%;
  vertical-align: top
}

.charts-react {
  height: 100%;
  width: 50%;
  display: inline-block;
}